.cau-node-edit {
  &__main {
    clear: both;
    display: block;
    width: 100%;
  }
  &__secondary {
    clear: both;
    margin-top: 32px !important;
    width: 100%;
  }
  &__footer {
    clear: both;
    display: block;
    margin: 32px 0 0 0;
    width: 100%;
  }
}

// Fixes an issue where drupal.paragraphs.admin loads before drupal.paragraphs.widget library
.js .paragraph-type-title{
  flex-basis: 25% !important;
  min-width: 80px !important;
}